.form-label {
    font-weight: bold;
}

.input-search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    max-width: 300px;
}

.input-search::placeholder {
    color: #999;
}

.tablaUsuario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tablaUsuario th {
    border-bottom: 0.2rem solid #545454;
    padding: 1rem;
}

.tablaUsuario td {
    border-bottom: 0.2rem solid #ececec;
    padding: 0.6rem;
    text-align: center;
}

.tablaUsuario th {
    background-color: #f2f2f2;
}

.tablaUsuario tr:hover {
    background-color: #f5f5f5;
}

.button-circle-green {
    border-radius: 30%;
    border: none;
    background-color: #00cc00;
    padding: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-circle-green:hover {
    background-color: #00e600;
}

.button-circle-red {
    border-radius: 30%;
    border: none;
    background-color: #ff2825;
    padding: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-circle-red:hover {
    background-color: #ff4238;
}

.button-edit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button-edit:hover {
    background-color: #45a049;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #f8f9fa;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.header-usuario {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    margin-bottom: 2rem;
}

.usuario-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.usuario-button:hover {
    background-color: #0056b3;
}
