

.titlePri{
    
    font-size: 3rem;
    font-weight: 1000;
    font-family: Arial, sans-serif;
    color: #1b1818;
}

@media (max-width: 400px), (max-height: 1000px) {
    .titlePri {
        font-size: 2.3rem; /* 15px */
    }
}

.footerLayout {
    display: none;
}

@media (min-width: 600px) and (min-height: 600px) {
    .footerLayout {
        display: block;
    }
}

.footerLayout {
    background-color: #1f481f;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.footerContent {
    max-width: 800px;
    margin: 0 auto;
}

.socialIcons {
    margin-top: 1rem;
     
}

.socialIcons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.socialIcons a:hover {
    color: #00b341;
}