.login-container {
    width: 300rem;
    margin: 0 auto;
    padding: 20rem;
    border: 1rem solid #ccc;
    border-radius: 5rem;
    background-color: #f9f9f9;
  }
  
  .input-field {
    width: 100%;
    padding: 8rem;
    margin-bottom: 10rem;
    border: 1rem solid #ccc;
    border-radius: 3rem;
    box-sizing: border-box;
  }
  
  .login-button {
    width: 100%;
    padding: 10rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  