.root-home {
  margin-top: 1rem;
  margin-bottom: 2rem;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-conte {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

@media (max-width: 550px) {
  .header-conte {
    justify-content: center;
  }

  .header-conte > * {
    margin: 0.5rem; 
  }
  .title-conte{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}


@media (max-width: 360px) {
  .header-conte {
    justify-content: center;
  }

  .header-conte > * {
    margin: 0.5rem; 
  }  

  .title-conte{
    font-size: 1.8rem;
  }
}

.recodiga-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #00b341;
  color: #ffffff;
  border: 0.2rem solid #00b341;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.recodiga-button:hover {
  background-color: #ffffff;
  color: #00b341;
}

.card {  
  margin: 5rem; 
  border-radius: 1rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;  
  max-width: 25%;
}

.card:hover {
  transform: translateY(-0.625rem);
}

@media (max-width: 768px) { 
  .card {
    flex-basis: calc(30% - 2rem);
    max-width: calc(30% - 2rem);
  }
}
@media (max-width: 676px) { 
  .card {
    flex-basis: calc(30% - 2rem); 
    max-width: calc(30% - 2rem); 
  }
}


@media (max-width: 500px) { 
  .card {
    flex-basis: calc(80% - 2rem); 
    max-width: calc(80% - 2rem); 
  }
}

.media {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%; /* Agrega esta línea */
}


.title-conte{
  padding-left: 5rem;
  padding-right: 5rem;
}
.content {
  padding: 1rem;
}

.content h2 {
  margin-bottom: 0.5rem; 
  font-size: 1.3rem; 
}

.content p {
  font-size: 1rem;
  color: #666;
}
