html{
  font-size: 62.5%;

}

.root-home {
  background-image: url('../public/Images/5159873f-bf05-479f-8591-8781346275dc.gif');
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 160vw 100vh;
}



*{
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.headerLayout {
  display: flex;
  align-items: center;
  background-color: #fcf5e0;
  justify-content: space-between;
  border-bottom: 0.5rem solid #1f481f;
  width: 100%;
  padding: 1.2rem 2.2rem;

}



.ulLayout {  
  background-color: #1f481f;
  list-style-type: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



.liLayout {
  float: left;
  font-size: 1.4rem;
  font-weight: 700;
}

.aLayout {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5rem;  
  text-decoration: none;
}

.aLayout:hover {
  background-color: #555;
}

.iconLink {
  display: none;
  
}

.textLink {
  display: inline;
}

@media (max-width: 600px) {
  .iconLink {
      display: inline;
  }

  .textLink {
      display: none;
  }
}

@media (max-width: 600px) {
  .navintro {      
      position: fixed;
      bottom: 0;
      width: 100%;     
  }
}

.buttonLayout {
  background-color: #1f481f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.loginButton {
  cursor: pointer;
  padding: 0.9rem 1.2rem;
  background-color: #1f481f;
  color: #2c3e50;
  border: 0.3rem solid#1f481f; 
  border-radius: 4px;
  font-size: 16px;
}

.loginButton:hover {
  background-color: #214926; 
}
